#main {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

.image {
  float: left;
  margin-right: 20px;
  margin-left: -10px;
  background-image: url("photo.jpg");
  background-size: 100%;
  width: 239px;
  height: 425px;
  background-repeat: no-repeat;
  position: relative;
}

ol {
  list-style-type: none;
  text-indent: 10px;
  margin-left: -20px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

ol > li {
  margin: 15px;
}

ul > li {
  margin: 7px;
}

figcaption {
  display: none;
}

header {
  text-align: center;
}

h2, footer {
  text-align: center;
  font-size: 1em;
}

h3 {
  text-align: left;
  font-size: 1em;
}
body {
  background-image: url("4.jpg");
  background-size: 5%;
}
h1 {
  font-size: 1.2em;
}
